.reading-text {
    font-size: 2em;
    font-weight: bold;
    color: white;
    background-color: rgba(255, 255, 0, 0.137);
    padding: 0.5em;
    margin: 0 -0.5em;
}

.pre-text,
.post-text {
    font-size: 2em;
    color: gray;
}

levelbar block.filled.high {
    background-color: rgb(255, 128, 0);
    border-color: rgb(255, 128, 0);
}

levelbar block.filled.full {
    background-color: rgb(178, 17, 17);
    border-color: rgb(178, 17, 17);
}

.hidden-sentence {
    color: rgba(255, 0, 0, 0.203);
}